/* "This is a stylesheet for BasicCSS.html" */

/* 
p {
    color: #ff0000;
    background-color: #bbffdc;    
  }
*/ 

.specialp {
    color: #0000ff;
    background-color: lightgreen;
}

#specialid {
    color: #006600;
    background-color: orange;
  }

#divexample {
    background-color: lightblue;
}

.spanstyle {
    color: red
}

a {
    color: #ff0000;
    text-decoration: none;
  }
  
  a:link {
    color: #00ff00;
  }
  
  a:visited {
    color: #0000ff;
  }
  
  a:active {
    color: #00ffff;
  }
  
  a:hover {
    color: #ffff00;
  }        
  