body{
    background-image: url(a62.png)
}

#grid{
    margin: 1em auto;
    padding: 0;
    width: 855px;
    border: 2px solid #000000;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 75px;
}

header{
    grid-column: span 12;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h1{
    background-color:#000000;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 15px;
    margin: 15px;
}

nav{
    grid-column: span 3;
}

nav ul{
    list-style-type: none;
    margin-top: 0px;
    padding: 15px;
    padding-top: 0px;
    margin-bottom: 30px;
}

nav li {
    border: 1px solid red;
    width: 160px;
    margin: 10px;
    display: inline-block;
    background-color: red;
}

nav li a{
    color:white;
    text-decoration:none;
    display:block;
    padding: 10px;
    padding-right: 20px;
}

nav li a:hover{
    background-color: darkred;
}

h2{
    font-family:Helvetica, Arial, sans-serif;
    margin-top: 0px;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

.bricks{
    float: left;
    width: 350px;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
    margin-top: 0;
    margin-left: 0px;
}

main{
    grid-column: span 9;
    margin-right: 20px;
}

span{
    font-weight:bold;
}

main p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:justify;
    margin-right: 0px;
    margin-bottom: 20px;
}

p a{
    color:red;
    text-decoration: none;
    font-weight:bold;
}

p a:hover{
    color:blue;
    text-decoration:underline;
}
footer{
    grid-column: span 12;
    grid-row: span 3;
}

footer p{
    background-color: red;
    color: white;
    border-top: 2px solid black;
    font-style:italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    margin: 0px;
    padding: 20px;
}   